
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap" rel="stylesheet">
<!-- Animation CSS -->
<link href="{{ 'aos.min.css' | asset_url }}" rel="stylesheet">
<!-- Main CSS -->
<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'responsive.css' | asset_url }}">

<section>
    <div class="services-area">
        <svg id="curve" data-name="layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1416.99 174.01">
            <path class="cls-1" d="M0,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z" transform="translate(0 -135.53)" />
        </svg>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-5 d-flex align-items-center">
                    <!--service heading text-->
                    <div class="section-heading-2 section-heading-2-p">
                         {% if section.settings.pre_title  != blank  %}
                            <h4>{{ section.settings.pre_title }}</h4>                                                              
                        {% endif %} 
                        {% if section.settings.title  != blank  %}
                            <h3>{{ section.settings.title }}</h3>                                                            
                        {% endif %}
                        {% if section.settings.description != blank %}
                            {{ section.settings.description }}
                        {% endif %}
                        {% if section.settings.button_text != blank and section.settings.button_link != blank %}
                            <div class="section-button">
                                <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
                            </div>                            
                        {% endif %}
                    </div>
                </div>
                {% if section.blocks.size > 0 %}                    
                    <div class="col-xl-6 col-lg-6 col-md-7">
                        <div class="row">
                            {% for block in section.blocks %}
                                {% case block.type %}
                                    {% when 'Service_1_block' %}
                                        {% if block.settings.title != blank or block.settings.description != blank  %}
                                            <!--service box-->
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
                                                <div class="single-service" data-aos="fadein" data-aos-anchor-placement="top-bottom" data-aos-delay="100" data-aos-duration="1000">
                                                    {% if block.settings.image != blank %}
                                                        <div class="service-icon">
                                                            <img src="{{ block.settings.image | img_url: '60x50'}}" alt="{{ block.settings.image.alt }}">
                                                        </div>                                                
                                                    {% endif %}                                    
                                                    <div class="service-text">
                                                        {% if block.settings.title  != blank  %}
                                                            <h3>{{ block.settings.title }}</h3>                                                            
                                                        {% endif %}
                                                        {% if block.settings.description != blank %}
                                                            {{ block.settings.description }}
                                                        {% endif %}
                                                    </div>         
                                                    <div class="servive-p-1">                                                   
                                                        {% render 'icons', icon: 'figure-1' %}
                                                    </div>
                                                </div>
                                            </div>                                            
                                        {% endif %}
                                    {% when 'Service_2_block' %}  
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 margin-top-sb-30">
                                            <div class="row">
                                                {% if block.settings.title_1 != blank or block.settings.description_1 != blank  %}  
                                                    <!--service box-->
                                                    <div class="col-xl-12">
                                                        <div class="single-service">
                                                            {% if block.settings.image_1 != blank %}
                                                                <div class="service-icon">
                                                                    <img src="{{ block.settings.image_1 | img_url: '60x50'}}" alt="{{ block.settings.image_1.alt }}">
                                                                </div>                                                                
                                                            {% endif %}                             
                                                            <div class="service-text">
                                                                {% if block.settings.title_1  != blank  %}
                                                                    <h3>{{ block.settings.title_1 }}</h3>                                                            
                                                                {% endif %}
                                                                {% if block.settings.description_1 != blank %}
                                                                    {{ block.settings.description_1 }}
                                                                {% endif %}
                                                            </div> 
                                                        </div>
                                                    </div>                                                    
                                                {% endif %}
                                                {% if block.settings.title_2 != blank or block.settings.description_2 != blank %}                                  
                                                    <!--service box-->
                                                    <div class="col-xl-12">
                                                        <div class="single-service service-mt-30" data-aos="fadein" data-aos-anchor-placement="top-bottom" data-aos-delay="300" data-aos-duration="1000">
                                                            {% if block.settings.image_2 != blank %}
                                                                <div class="service-icon">
                                                                    <img src="{{ block.settings.image_2 | img_url: '60x50'}}" alt="{{ block.settings.image_2.alt }}">
                                                                </div>                                                                
                                                            {% endif %}   
                                                            <div class="service-text">
                                                                {% if block.settings.title_2  != blank  %}
                                                                    <h3>{{ block.settings.title_2 }}</h3>                                                            
                                                                {% endif %}
                                                                {% if block.settings.description_2 != blank %}
                                                                    {{ block.settings.description_2 }}
                                                                {% endif %}
                                                            </div> 
                                                            <div class="servive-p-2">                                                                                           
                                                                {% render 'icons', icon: 'figure-2' %}
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                {% endif %}      
                                            </div>
                                        </div>
                                {% endcase %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Jquery JS -->
<script src="{{ 'jquery-2.2.4.min.js' | asset_url }}"></script>
<!-- Proper JS -->
<script src="{{ 'popper.min.js' | asset_url }}"></script>	
<!-- Bootstrap Js -->
<script src="{{ 'bootstrap.min.js' | asset_url }}"></script>	
<!-- Video popup Js -->
<script src="{{ 'magnific-popup.min.js' | asset_url }}"></script>
<!-- Waypoint Up Js -->
<script src="{{ 'waypoints.min.js' | asset_url }}"></script>
<!--  Counter Up Js -->
<script src="{{ 'counterup.min.js' | asset_url }}"></script>	
<!-- Meanmenu Js -->
<script src="{{ 'meanmenu.min.js' | asset_url }}"></script>
<!-- Animation Js -->
<script src="{{ 'aos.min.js' | asset_url }}"></script>
<!-- Filtering Js -->
<script src="{{ 'isotope.min.js' | asset_url }}"></script>
<!-- Background Move Js -->
<script src="{{ 'jquery.backgroundMove.js' | asset_url }}"></script>
<!-- Slick Carousel Js -->
<script src="{{ 'slick.min.js' | asset_url }}"></script>
<!-- ScrollUp Js -->
<script src="{{ 'scrollUp.js' | asset_url }}"></script>
<!-- Main Js -->
<script src="{{ 'main.js' | asset_url }}"></script>

{% schema %} 
  {
    "name": "Content + 3 blocks",
    "tag": "section",
    "max_blocks": 2,
    "settings": [
        {
            "type": "text",
            "id": "pre_title",
            "label": "Pre-title",
            "default": "Our Services"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Services We Provides"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>We provide a range of digital solutions including website development, digital marketing, and UI/UX design. Our team of experts works collaboratively with clients to deliver custom and innovative solutions that enhance their online presence and achieve their business goals.</p>"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button_text",
            "default": "Get Service"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "default": "/"
        }
    ],
    "blocks": [
      {
        "name": "Service 1 block",
        "type": "Service_1_block",
        "settings": [
            {
                "type": "header",
                "content": "Block content"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Service Heading",
                "default": "Theme Development"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Service Description",
                "default": "<p>Design and customize website themes using HTML, CSS, and JavaScript.</p>"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Service Image"
            }
        ]
      },
      {
        "name": "Service 2 block",
        "type": "Service_2_block",
        "settings": [
            {
                "type": "header",
                "content": "Block content 1"
            },
            {
                "type": "text",
                "id": "title_1",
                "label": "Heading",
                "default": "Digital Marketing"
            },
            {
                "type": "richtext",
                "id": "description_1",
                "label": "Description",
                "default": "<p>Promote products or services through digital channels for targeted audiences.</p>"
            },
            {
                "type": "image_picker",
                "id": "image_1",
                "label": "Service Image"
            },
            {
                "type": "paragraph",
                "content": "=========="
            },
            {
                "type": "header",
                "content": "Block content 2"
            },
            {
                "type": "text",
                "id": "title_2",
                "label": "Heading",
                "default": "UI/UX Design"
            },
            {
                "type": "richtext",
                "id": "description_2",
                "label": "Description",
                "default": "<p>Create intuitive and visually appealing interfaces for optimal user experience.</p>"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Service Image"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content + 3 blocks"
      }
    ]
  }
{% endschema %}
  