
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap" rel="stylesheet">
<!-- Animation CSS -->
<link href="{{ 'aos.min.css' | asset_url }}" rel="stylesheet">
<!-- Main CSS -->
<link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'responsive.css' | asset_url }}">

<section>
    <div class="services-area">
        <svg id="curve" data-name="layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1416.99 174.01">
            <path class="cls-1" d="M0,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z" transform="translate(0 -135.53)" />
        </svg>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-5 d-flex align-items-center">
                    <!--service heading text-->
                    <div class="section-heading-2 section-heading-2-p">
                        <h4>our services</h4>
                        <h3>Services We provides</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat rutrum turpis, sit amet hendrerit metus vulputate id. Nulla laoreet maximus feugiat. Nullam rhoncus, orci vitae convallis venenatis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat rutrum turpis, sit amet hendrerit metus.</p>
                        <div class="section-button">
                            <a href="#">get service</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-7">
                    <div class="row">
                        <!--service box-->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
                            <div class="single-service" data-aos="fadein" data-aos-anchor-placement="top-bottom" data-aos-delay="100" data-aos-duration="1000">
                                <div class="service-icon">
                                    <img src="https://cdn.shopify.com/s/files/1/0701/3154/8434/files/1.png?v=1680343863" alt="">
                                </div>
                                <div class="service-text">
                                    <h3>Theme Development</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat rutrum turpis.</p>
                                </div>
                                <div class="servive-p-1">
                                    <img src="https://cdn.shopify.com/s/files/1/0701/3154/8434/files/service-p-1.png?v=1680343863" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 margin-top-sb-30">
                            <div class="row">
                                <!--service box-->
                                <div class="col-xl-12">
                                    <div class="single-service">
                                        <div class="service-icon">
                                            <img src="https://cdn.shopify.com/s/files/1/0701/3154/8434/files/3.png?v=1680343863" alt="">
                                        </div>
                                        <div class="service-text">
                                            <h3>Digital Marketing</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat rutrum turpis.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--service box-->
                                <div class="col-xl-12">
                                    <div class="single-service service-mt-30" data-aos="fadein" data-aos-anchor-placement="top-bottom" data-aos-delay="300" data-aos-duration="1000">
                                        <div class="service-icon">
                                            <img src="https://cdn.shopify.com/s/files/1/0701/3154/8434/files/2.png?v=1680343863" alt="">
                                        </div>
                                        <div class="service-text">
                                            <h3>UI/UX Design</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat rutrum turpis.</p>
                                        </div>
                                        <div class="servive-p-2">
                                            <img src="https://cdn.shopify.com/s/files/1/0701/3154/8434/files/service-p-3.png?v=1680343863" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery JS -->
<script src="{{ 'jquery-2.2.4.min.js' | asset_url }}"></script>
<!-- Proper JS -->
<script src="{{ 'popper.min.js' | asset_url }}"></script>	
<!-- Bootstrap Js -->
<script src="{{ 'bootstrap.min.js' | asset_url }}"></script>	
<!-- Video popup Js -->
<script src="{{ 'magnific-popup.min.js' | asset_url }}"></script>
<!-- Waypoint Up Js -->
<script src="{{ 'waypoints.min.js' | asset_url }}"></script>
<!--  Counter Up Js -->
<script src="{{ 'counterup.min.js' | asset_url }}"></script>	
<!-- Meanmenu Js -->
<script src="{{ 'meanmenu.min.js' | asset_url }}"></script>
<!-- Animation Js -->
<script src="{{ 'aos.min.js' | asset_url }}"></script>
<!-- Filtering Js -->
<script src="{{ 'isotope.min.js' | asset_url }}"></script>
<!-- Background Move Js -->
<script src="{{ 'jquery.backgroundMove.js' | asset_url }}"></script>
<!-- Slick Carousel Js -->
<script src="{{ 'slick.min.js' | asset_url }}"></script>
<!-- ScrollUp Js -->
<script src="{{ 'scrollUp.js' | asset_url }}"></script>
<!-- Main Js -->
<script src="{{ 'main.js' | asset_url }}"></script>

{% schema %} 
  {
    "name": "Content + 3 blocks",
    "tag": "section",
    "settings": [
    ],
    "blocks": [
      {
        "name": "Benefit blocks",
        "type": "Benefit"
      }
    ],
    "presets": [
      {
        "name": "Content + 3 blocks"
      }
    ]
  }
{% endschema %}
  