<div style="border: 1px solid orange; padding: 50px;">
  {% comment %} {{ product | json }} {% endcomment %}
  <div>
    product.title - string - {{ product.title }}
  </div>
  <div>    
    product.id - number - {{ product.id }}
  </div>
  <div>    
    product.tags - array - [{{ product.tags | join: ', ' }}]
  </div>
  <div>    
    product.available - boolean - {{ product.available }}
  </div>
  <div>    
    product.featured_image - object - {{ product.featured_image }}
  </div>
  <div>    
    product.featured_image.id - object - {{ product.featured_image.id }}
  </div>
  <div>    
    product.variants | json - array with objects - {{ product.variants | json }}
  </div>
  <div>    
    product.variants.size | json - array size - {{ product.variants.size }}
  </div>
  <div>    
    product.variants[0].title == id - array size - ({{ product.variants[0].title }} == {{ product.variants[0].id }})
  </div>
  {% if product.variants.size > 0 %}
    <ul>
      {% for variant in product.variants %}
        <li>
          {{ variant.title }} == {{ variant.id  }}
          Variant options
          <ol>
            {% for option in variant.options %}
              <li>{{ option }}</li>
            {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>ewqew
{% if section.settings.collection != blank %}
{% assign collection = section.settings.collection %}
  <h2>
    Collection  object ={{ collection.title }}
  </h2>
  <div style="border: 1px solid green; padding: 2px;">
    {% for product in collection.products %}
      <div style="border: 1px solid red; padding: 2px;">
        <h3> Product  object = {{ product.title }}</h3>
        {% if product.variants.size > 0 %}
          <div style="border: 1px solid orange; padding: 2px;">
            {% for variant in product.variants %}
              <div style="border: 1px solid rgb(212, 89, 186); padding: 2px;">
                <h4> Variant object = {{ variant.title }}</h4>
                <ul>
                {% for option in variant.options %}
                    <li style="border: 1px solid blue; padding: 2px;">
                     Option object {{ option }}
                    </li>
                {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div style="border: 1px solid purple; padding: 2px;">
              NONE
          </div>
        {% endif %}
      </div>
    {% endfor %}    
  </div>
{% endif %}
{% schema %}
{
  "name": "Product object",
  "tag": "section",
  "class": "section product-object-section",
  "settings": [  
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection",
      "default": "with-sale"      
    }  
  ],
  "presets": [
    {
      "name": "Product object"
    }
  ]
}
{% endschema %}
